<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body style="width: 100%; display: flex; justify-content: center; align-items: center">
    <div th:switch="${candidates}" style="padding: 20px; max-width: 1000px; display: flex;justify-content: center; align-items: center";>
        <h2 th:case="null">No candidates yet!</h2>
        <div th:case="*">
            <h2>Candidates</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>dob</th>
                        <th>address</th>
                        <th>phone</th>
                        <th>email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="candidate : ${candidates}">

                            <td th:text="${candidate.id}" class="table-cell"></td>
                            <td th:text="${candidate.fullName}" class="table-cell"></td>
                            <td th:text="${candidate.dob}" class="table-cell"></td>
                            <td th:text="${candidate.address.getStreet() + ', ' + candidate.address.getCity() + ', ' + candidate.address.getZipcode() + ', '}" class="table-cell">Việt Nam</td>
                            <td th:text="${candidate.phone}" class="table-cell"></td>
                            <td th:text="${candidate.email}" class="table-cell"></td>
                            <td><a th:href="@{/candidate/edit/{id}(id=${candidate.id})}" class="table-cell">Edit</a></td>
                            <td><a th:href="@{/candidate/delete/{id}(id=${candidate.id})}" class="table-cell">Delete</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<style>
    .table-cell {
        max-width: 170px;       /* Đặt độ rộng tối đa cho ô */
        white-space: nowrap;    /* Ngăn ngắt dòng, hiển thị trên một dòng duy nhất */
        overflow: hidden;       /* Ẩn nội dung vượt quá kích thước ô */
        text-overflow: ellipsis; /* Thêm "..." vào cuối dòng nếu vượt quá */
    }
</style>
</html>